*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  background-color: #B9F8D3;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vmin;
  height: 75vmin;
  border-radius: 50%;
  background-color: #FFFBE7;
}
.cat-head{
  display:flex;
  position:absolute;
  justify-content: center;
  align-items: center;
  width: 40vmin;
  height: 32vmin;
  border-radius: 50%;
  background-color: #FDAF75;
}

/* right ear */
.cat-ears::after{
  content: "";
  position: absolute;
  top: -3vmin;
  left: 3vmin;
  width: 0;
  height: 0;
  border-right: 6vmin solid transparent;
  border-left: 6vmin solid transparent;
  border-bottom: 11vmin solid #FDAF75;
  transform: rotate(85deg);
}
/* left ear */
.cat-ears::before{
  content: "";
  position: absolute;
  top: -3vmin;
  right: 3vmin;
  width: 0;
  height: 0;
  border-right: 6vmin solid transparent;
  border-left: 6vmin solid transparent;
  border-bottom: 11vmin solid #FDAF75;
  transform: rotate(-85deg);
}
.eye-circle{
  position: absolute;
  top: 5vmin;
  left: 5.5vmin;
  width: 13vmin;
  height: 13vmin;
  border-radius: 50%;
  background-color: #B67162;
}
.eyes::after{
  content: "";
  position: absolute;
  top: -2vmin;
  left: 3vmin;
  width: 7vmin;
  height: 10vmin;
  border-bottom: 1vmin solid #FDAF75;
  border-radius: 0 0 7vmin 5vmin / 0 0 5vmin 5vmin;
}
.eyes::before{
  content: "";
  position: absolute;
  left: 20vmin;
  top: -2vmin;
  width: 7vmin;
  height: 10vmin;
  border-bottom: 1vmin solid #B67162;
  border-radius: 0 0 5vmin 5vmin / 0 0 5vmin 5vmin;
}
.nose{
  position: absolute;
  bottom: 13vmin;
  right: 15vmin;
  width: 7vmin;
  height: 4.5vmin;
  border-radius: 50% 50% 70% 70% / 30% 30% 100% 100%;
  background-color: #D54C4C;
  z-index: 1;
}
.mouth::after{
  content: "";
  position: absolute;
  left: 11.7vmin;
  top: 14vmin;
  width: 10vmin;
  height: 10vmin;
  border-bottom: 1vmin solid #B67162;
  border-radius: 0 0 7vmin 5vmin / 0 0 5vmin 5vmin;
  transform: rotate(-35deg);
}
.mouth::before{
  content: "";
  position: absolute;
  top: 14vmin;
  right: 7.7vmin;
  width: 10vmin;
  height: 10vmin;
  border-bottom: 1vmin solid #B67162;
  border-radius: 0 0 7vmin 5vmin / 0 0 5vmin 5vmin;
  transform: rotate(35deg);
}
