*{
  paddin: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dbffbd;
  margin-top: 50vh;
}
div{
  position: absolute;
  height: 80vmin;
  width: 60vmin;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background-color: #dedc73;
  border: 1vmin solid #306635;
  box-shadow: 3vmin 0vmin rgba(13, 54, 17),
  3vmin 0.5vmin 0 2vmin rgba(13, 54, 17),
  6.5vmin 0vmin rgba(13, 54, 17),
  15vmin 0vmin 10vmin 5vmin rgba(5, 5, 5,0.4);
}
div::before{
  content: "";
  position: absolute;
  height: 3vmin;
  width: 3vmin;
  background-color: #ff6f36;
  border-radius: 50%;
  top: 37vmin;
  left: 20vmin;
  box-shadow: 5vmin -1vmin 0 1vmin #ff6f36,
  7vmin 10vmin 0 15vmin #4a2110;
}
.avocado{
  transform: rotate(50deg);
}
